@model MVCApp.Models.PostulationListVM
@{
    ViewBag.Title = "List";
}

<h2>Your postulations</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var postulation in Model.PostulationVMs)
        {
        <tr>
            <th scope="row">@postulation.Title</th>
            <td>@postulation.Description</td>
            <td>@postulation.Salary €</td>
        </tr>
        }
    </tbody>
</table>