@model MVCApp.Models.OfferVM
@{
    ViewBag.Title = "Detail";
}

<h2>Offer Detail</h2>
<div class="container">
    <div class="row">
        @{
            Html.RenderPartial("_OffreDetail", Model, ViewData);
        }
    </div>
</div>
