@model MVCApp.Models.OfferListVM 

@{
    ViewBag.Title = "List";
}

<h2>Offer List</h2>
<div class="container">
    <div class="row">
        @foreach (var offer in Model.OfferVMs)
        {
            Html.RenderPartial("_OffreDetail", offer);
        }
    </div>
</div>
