@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChomageSharp</h1>
    <p class="lead">Bienvenue sur ChomageSharp</p>
    <p>@Html.RouteLink("Consulter les offres", "List",null, new { Class="btn btn-primary btn-lg"})</p>
</div>